.modal {
    background: rgba(var(--grey-5-rgb), 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal__content {
    border-radius: 8px;
    background: rgba(var(--white-rgb), 1);
    padding: 32px 38px 40px 40px;
}

.modal__fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modal__item {
    display: flex;
    flex-direction: column;
}

.modal__label {
    color: var(--grey-3);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.modal__input {
    border-radius: 8px;
    padding: 17px 24px 13px 24px;
    outline: none;
    border: 1px solid var(--grey-2);
}

.modal__input::placeholder {
    color: var(--grey-2);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.modal__button {
    margin-top: 24px;
    border-radius: 8px;
    background: var(--blue-2);
    padding: 15px 65px 14px 66px;
    border: none;
    color: var(--white);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}